<Project>
  <PropertyGroup>
    <BuildClientDestinationFolder>C:\VRisingPath\BepInEx\plugins\</BuildClientDestinationFolder>
    <BuildServerDestinationFolder>C:\VRisingPath\BepInEx\plugins\</BuildServerDestinationFolder>
  </PropertyGroup>
</Project>
